body {
		margin: 0;
		width: 100%;
		height: 100%;
		min-width: 500px;
		font-family: Arial, Helvetica, sans-serif;
	}
	canvas {
		display: block;
		width: 100%;
		height: 100%;
	}
	a {
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
	}
	.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #66ccff;
    border-right: 6px solid white;
    overflow-x: hidden;
    transition: 0.5s;
    color: #FFFFFF;
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    }
    #sidenavcontain {
    	padding-left: 10px;
    }
    .sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
    div#sidenavcontain {
    	visibility: hidden;
    }
    div#info {
    	visibility: hidden;
    }

    .closegame {
    	position: absolute;
    	top: 0;
    	right: 25px;
    	font-size: 72px;
    	color: #d9d9d9;
    	transition-duration: 0.4s;
    }
    .closegame:hover {
    	color: #FFFFFF;
    }

    #downpanel {
    	width: 100%;
    	position: fixed;
    	left: 0%;
    	bottom: 0px;
    	border-top: 3px solid white;
    	transition: 0.5s;
    	background-color: rgba(184, 240, 251, 0.3);
    	height: 20%;
    }
	/*
	div.lisays {
		position: fixed;
		background-color: #FFFFFF;
		top: 10%;
		left: 3%;
	}
	*/
	div.takaisin {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 5px;
		padding-right: 5px;
		position: fixed;
		background-color: #595959;
		top: 1%;
		border-left: 6px solid white;
		transition-duration: 0.4s;
		width: 100px;
	}
	div.takaisin:hover {
		border-left: 6px solid white;
		background-color: #808080;
		cursor: pointer;
	}
	div#points {
		display: inline;
		width: 33%;
		color: #FFFFFF;
		text-align: center;
		line-height: 90px;
	}
	div#gallery {
		float: left;
		width: 33%;
		color: #FFFFFF;
		text-align: center;
		line-height: 90px;
	}
	div#userbox {
		height: 100%;
		float: right;
		width: 33%;
		color: #FFFFFF;
	}
	#myProgress {
  position: relative;
  width: 90%;
  height: 20px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 23%;
  height: 100%;
  background-color: #66ff33;
}
	div#success {
		display: none;
	}
	#details {
		position: relative;
		width: 25%;
		background-color: white;
	}
	button {
		width: 100px;

		border-radius: 5px;
		border: none;
		transition-duration: 0.4s;
		border: 2px solid #e7e7e7;
	}
	button:hover {
		background-color: green;
		cursor: pointer;
	}
	button:active {
		background-color: yellow;
		cursor: pointer;
	}
	button span {
        color: white;
    }
    .designbutton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:-1px 2px 2px #2f6627;
}
.designbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.designbutton:active {
	position:relative;
	top:1px;
}
    .maplink {
    	color: black;
    }
    .ui-widget-content.success-dialog {
   		background: #F9F9F9;
    	border: 1px solid #90d93f;
    	color: #222222;
	}

	.ui-dialog.success-dialog {
    	left: 0;
    	outline: 0 none;
    	padding: 0 !important;
    	position: absolute;
    	top: 0;
	}

	.ui-dialog.success-dialog .ui-dialog-content {
    	background: none repeat scroll 0 0 transparent;
    	border: 0 none;
    	overflow: auto;
    	position: relative;
    	padding: 0 !important;
    	margin: 0;
	}

	.ui-dialog.success-dialog .ui-widget-header {
    	background: #b0de78;
    	border: 0;
    	color: #fff;
    	font-weight: normal;
	}

	.ui-dialog.success-dialog .ui-dialog-titlebar {
    	padding: 0.1em .5em;
    	position: relative;
    	font-size: 1em;
	}