body {
		margin: 0;
		width: 100%;
		height: 100%;

		font-family: Apercu Pro;
	}
	canvas {
		display: block;
		width: 100%;
		height: 100%;
	}
	a {
		text-decoration: none;
        color: #FFFFFF;
	}

	@font-face {
        font-family: ApercuPro;
        src: url("ApercuPro-Medium.otf") format("opentype");
    }
    div#sidenavcontain {
    	visibility: hidden;
    }
    div#info {
    	visibility: hidden;
    }
    #VilleKoponen
{ 
   left: 79%; 
   top: 40px; 
   position: absolute; 
   width: 166px;
   height: 13px;
   z-index:17;
   color: #FFFFFF;
} 
#progressbar {
  position: absolute;
  top: 65px;
  left: 79%;
}

#bar {
    position: absolute;
  top: 65px;
  left: 79%;  
}
#MapGameGalleryProfil {
  position: absolute;
  top: 70px;
  left: 79%;
  width: 10%;
  color: #FFFFFF;
}
#mggp {
  width: 170%;
  color: #FFFFFF;
  font-size: 70%;
}

    .closegame {
    	position: absolute;
    	top: 0;
    	right: 25px;
    	font-size: 72px;
    	color: #d9d9d9;
    	transition-duration: 0.4s;
    }
    .closegame:hover {
    	color: #FFFFFF;
    }
    #fblogin {
        width: 35px;
    }
    table {
    	width: 100%;
    }
	div#success {
		display: none;
	}
	button {
		border-radius: 5px;
        width: 100px;
		border: none;

		border: 2px solid #e7e7e7;
	}
    button.remove {
        width: 150px;
    }
	button:hover {
		background-color: green;
		cursor: pointer;
	}
	button:active {
		background-color: yellow;
		cursor: pointer;
	}
	button span {
        color: white;
    }
    .designbutton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:-1px 2px 2px #2f6627;
}
.designbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.designbutton:active {
	position:relative;
	top:1px;
}
    .maplink {
    	color: black;
    }
    .ui-widget-content.success-dialog {
   		background: #F9F9F9;
    	border: 1px solid #90d93f;
    	color: #222222;
	}

	.ui-dialog.success-dialog {
    	left: 0;
    	outline: 0 none;
    	padding: 0 !important;
    	position: absolute;
    	top: 0;
	}

	.ui-dialog.success-dialog .ui-dialog-content {
    	background: none repeat scroll 0 0 transparent;
    	border: 0 none;
    	overflow: auto;
    	position: relative;
    	padding: 0 !important;
    	margin: 0;
	}

	.ui-dialog.success-dialog .ui-widget-header {
    	background: #b0de78;
    	border: 0;
    	color: #fff;
    	font-weight: normal;
	}

	.ui-dialog.success-dialog .ui-dialog-titlebar {
    	padding: 0.1em .5em;
    	position: relative;
    	font-size: 1em;
	}

	button.accordion {
    background-color: transparent;
    cursor: pointer;
    padding: 2px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.elementtable {
	color: #FFFFFF;
	font-size: 60%;
}

button.accordion.active, button.accordion:hover {
}
div.butaccontain {
	line-height: 0.5px;
}
div.elementmenu {
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: 65;
}
div.panel {
    width: 100%;
    height: 100%;
    padding: 0 2px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}
div.showimage {
    position: relative;
    float:left;
}
div.showimage:hover img{
    opacity:0.5;
}
div.showimage:hover input {
    display: block;
}
div.showimage input {
    position:absolute;
    display:none;
}
div.showimage input.addElement {
    top:0;
    left:0;
}
div.showimage input.addApple {
    top:0;
    left:0;
}
#infoLilac {
    visibility: hidden;
        position: fixed;
        top: 30%;
        left: 40%;

    }

    #infoRowan {
        visibility: hidden;
        position: fixed;
        top: 30%;
        left: 40%;
    }
    .right {
        display: inline-block;
        position: absolute;
    }
    .left {
        display: block;
        float: left;
        position: absolute;
    }
    .text {
        position: absolute;
        top: 3%;
        left: 20%;
        z-index: 1;
    }
    .desc {
        position: absolute;
        top: 13%;
        left: 20%;
        z-index: 1;
        font-size: 60%;
    }
    .eci {
        position: absolute;
        top: 4%;
        left: 30%;
    }
    .bispecies {
        position: absolute;
        top: 50%;
        left: 20%;
        z-index: 1;
        font-size: 82%;
    }
    #lilac1 {
        position: absolute;
        top: 65%;
        left: 20%;
        z-index: 1;
    }
    #lilac2 {
        position: absolute;
        top: 65%;
        left: 45%;
        z-index: 1;
    }
    #rowan1 {
        position: absolute;
        top: 65%;
        left: 20%;
        z-index: 1;
    }
    button.remove {
        position: absolute;
        top: 88%;
        left: 20%;
        z-index: 1;
    }
    .closebutton {
        position: absolute;
        top: 3%;
        left: 84%;
        width: 20px;
        height: 20px;
    }