canvas {
  width: 0px;
  height: 0px;
}

#map {
        height: 82%;
        display: block;
      }
      #toppanel {
        width: 100%;
        height: 18%;
        background-color: #00AF8E;
      }
      #mapslogo {
        position: absolute;
        display: block;
        top: 4%;
        left: 20%;
      }
      #findyour {
        position: absolute;
        display: block;
        top: 7%;
        left: 42%;
      }

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      a {
    text-decoration: none;
  }
      #Username
{ 
   left: 78%; 
   top: 40px; 
   position: absolute; 
   width: 166px;
   height: 13px;
   z-index:17;
   color: #FFFFFF;
} 
#pb {
  position: absolute;
  top: 55px;
  left: 78%;
}

#ba {
    position: absolute;
  top: 55px;
  left: 78%;  
}
#MapGameGallery {
  position: absolute;
  top: 70px;
  left: 78%;
  width: 10%;
  color: #FFFFFF;
}
  .inffo {
    background-color: #FFFFFF;
    position: absolute;
    top: 34%;
    left: 55%;
    width: 240px;
  }
  .bimage {
    text-align: center;
  }
  .middle {
    background-color: #21949F;
  }
  .areaaddress {
    width: 100%;
    text-align: center;
    font-size: 120%;
    color: #FFFFFF;
  }
  .actionmenu {
    text-align: center;
    width: 100%;
  }
  .startgame {
    background-color: #FFFFFF;
    border: 2px solid black;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    color: #000000;
  }
  .startgame a {
    color: #000000;
  }
  .startgame:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
  .startgame:hover a {
    color: #FFFFFF;
  }
  .gogallery {
    background-color: #FFFFFF;
    border: 2px solid black;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    color: #000000;
  }
  .gogallery a {
    color: #000000;
  }
    .gogallery:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
  .gogallery:hover a {
    color: #FFFFFF;
  }
  .sg {
    width: 50%;
  }
  .gg {
    width: 50%;
    color: #000000;
  }