 body {
	margin: 0;
	padding: 0;
<<<<<<< HEAD
<<<<<<< HEAD
	width: 100%;
	height: 1000px;
=======
>>>>>>> 5a9db78c7a529498dc109cc7fec369180c99e9f0
=======
	width: 100%;
	height: 1000px;
>>>>>>> febf234b4fca6f663c90607ae986476b53f10a25
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 100%;
	 height: 100%; 
	 overflow: hidden;
	 z-index:0;
	 background-color: #00AF8E;
	} 

 #Backgroundcopy 
{ 
	 left: -10px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1611px;
	 height: 1027px;
	 z-index:1;
} 

 #Rectangle13 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
<<<<<<< HEAD
<<<<<<< HEAD
	 width: 30%;
=======
	 width: 40%;
>>>>>>> 5a9db78c7a529498dc109cc7fec369180c99e9f0
=======
	 width: 30%;
>>>>>>> febf234b4fca6f663c90607ae986476b53f10a25
	 height: 100%;
	 z-index:2;
	 background-color: #FFFFFF;
} 

 #Morepeople 
{ 
	 left: 887px; 
	 top: 947px; 
	 position: absolute; 
	 width: 71px;
	 height: 10px;
	 z-index:3;
} 

 #Rectangle12 
{ 
	 left: 913px; 
	 top: 962px; 
	 position: absolute; 
	 width: 13px;
	 height: 6px;
	 z-index:4;
} 

 #RoundedRectangle4cop 
{ 
	 left: 1049px; 
	 top: 26px; 
	 position: absolute; 
	 width: 562px;
	 height: 9px;
	 z-index:5;
} 

 #MapGameGalleryProfil 
{ 
	 left: 1066px; 
	 top: 44px; 
	 position: absolute; 
	 width: 194px;
	 height: 9px;
	 z-index:6;
} 

 #RoundedRectangle1cop 
{ 
	 left: 603px; 
	 top: 294px; 
	 position: absolute;
	 background-color: #FFFFFF;
	 border-radius: 10px; 
	 width: 158px;
	 height: 27px;
	 z-index:7;
	 text-align: center;
} 

#RoundedRectangle1cop:hover {
	background-color: #ECE819;
}

 #Viewprojectsgallery 
{ 
	 left: 618px; 
	 top: 303px; 
	 position: absolute; 
	 width: 131px;
	 height: 11px;
	 z-index:8;
} 

 #RoundedRectangle2cop 
{ 
	 left: 603px; 
	 top: 124px; 
	 position: absolute; 
	 width: 157px;
	 height: 163px;
	 z-index:9;
} 

 #RoundedRectangle2cop_0 
{ 
	 left: 605px; 
	 top: 260px; 
	 position: absolute; 
	 width: 154px;
	 height: 26px;
	 z-index:10;
} 

 #SamiSvensk 
{ 
	 left: 641px; 
	 top: 267px; 
	 position: absolute; 
	 width: 84px;
	 height: 10px;
	 z-index:11;
} 

 #VectorSmartObject 
{ 
	 left: 633px; 
	 top: 140px; 
	 position: absolute; 
	 width: 98px;
	 height: 110px;
	 z-index:12;
} 

 #RoundedRectangle1cop_0 
{ 
	 left: 842px; 
	 top: 294px; 
	 position: absolute; 
	 border-radius: 10px;
	 background-color: #FFFFFF;
	 width: 158px;
	 height: 27px;
	 z-index:13;
	 text-align: center;
} 

#RoundedRectangle1cop_0:hover {
	background-color: #ECE819;
}

 #Viewprojectsgalleryc 
{ 
	 left: 857px; 
	 top: 303px; 
	 position: absolute; 
	 width: 131px;
	 height: 11px;
	 z-index:14;
} 

 #RoundedRectangle2cop_1 
{ 
	 left: 842px; 
	 top: 124px; 
	 position: absolute; 
	 width: 157px;
	 height: 163px;
	 z-index:15;
} 

 #RoundedRectangle2cop_2 
{ 
	 left: 844px; 
	 top: 260px; 
	 position: absolute; 
	 width: 154px;
	 height: 26px;
	 z-index:16;
} 

 #TapioRintala 
{ 
	 left: 875px; 
	 top: 267px; 
	 position: absolute; 
	 width: 92px;
	 height: 13px;
	 z-index:17;
} 

 #VectorSmartObject_0 
{ 
	 left: 694px; 
	 top: 330px; 
	 position: absolute; 
	 width: 17px;
	 height: 32px;
	 z-index:18;
} 

 #VectorSmartObject_1 
{ 
	 left: 646px; 
	 top: 336px; 
	 position: absolute; 
	 width: 26px;
	 height: 20px;
	 z-index:19;
} 

 #VectorSmartObjectcop 
{ 
	 left: 936px; 
	 top: 330px; 
	 position: absolute; 
	 width: 17px;
	 height: 32px;
	 z-index:20;
} 

 #VectorSmartObjectcop_0 
{ 
	 left: 888px; 
	 top: 336px; 
	 position: absolute; 
	 width: 26px;
	 height: 20px;
	 z-index:21;
} 

 #VectorSmartObjectcop_1 
{ 
	 left: 1175px; 
	 top: 330px; 
	 position: absolute; 
	 width: 17px;
	 height: 32px;
	 z-index:22;
} 

 #VectorSmartObjectcop_2 
{ 
	 left: 1127px; 
	 top: 336px; 
	 position: absolute; 
	 width: 26px;
	 height: 20px;
	 z-index:23;
} 

 #RoundedRectangle1cop_1 
{ 
	 left: 1079px; 
	 top: 294px; 
	 position: absolute; 
	 border-radius: 10px;
	 background-color: #FFFFFF;
	 width: 157px;
	 height: 27px;
	 z-index:24;
	 text-align: center;
} 
#RoundedRectangle1cop_1:hover {
	background-color: #ECE819;
}

 #Viewprojectsgalleryc_0 
{ 
	 left: 1094px; 
	 top: 303px; 
	 position: absolute; 
	 width: 131px;
	 height: 11px;
	 z-index:25;
} 

 #RoundedRectangle2cop_3 
{ 
	 left: 1079px; 
	 top: 124px; 
	 position: absolute; 
	 width: 157px;
	 height: 163px;
	 z-index:26;
} 

 #RoundedRectangle2cop_4 
{ 
	 left: 1081px; 
	 top: 260px; 
	 position: absolute; 
	 width: 154px;
	 height: 26px;
	 z-index:27;
} 

 #HeikkiViitanen 
{ 
	 left: 1105px; 
	 top: 267px; 
	 position: absolute; 
	 width: 106px;
	 height: 10px;
	 z-index:28;
} 

 #RoundedRectangle1cop_2 
{ 
	 left: 603px; 
	 top: 559px; 
	 position: absolute; 
	 border-radius: 10px;
	 background-color: #FFFFFF;
	 width: 158px;
	 height: 26px;
	 z-index:29;
	 text-align: center;
} 

#RoundedRectangle1cop_2:hover {
	background-color: #ECE819;
}

 #Viewprojectsgalleryc_1 
{ 
	 left: 618px; 
	 top: 567px; 
	 position: absolute; 
	 width: 131px;
	 height: 11px;
	 z-index:30;
} 

 #RoundedRectangle2cop_5 
{ 
	 left: 603px; 
	 top: 388px; 
	 position: absolute; 
	 width: 157px;
	 height: 163px;
	 z-index:31;
} 

 #VectorSmartObject_2 
{ 
	 left: 879px; 
	 top: 141px; 
	 position: absolute; 
	 width: 90px;
	 height: 103px;
	 z-index:32;
} 

 #RoundedRectangle2cop_6 
{ 
	 left: 605px; 
	 top: 524px; 
	 position: absolute; 
	 width: 154px;
	 height: 26px;
	 z-index:33;
} 

 #RoundedRectangle1cop_3 
{ 
	 left: 842px; 
	 top: 559px; 
	 position: absolute; 
	 border-radius: 10px;
	 background-color: #FFFFFF;
	 width: 158px;
	 height: 26px;
	 z-index:34;
	 text-align: center;
} 

#RoundedRectangle1cop_3:hover {
	background-color: #ECE819;
}

 #Viewprojectsgalleryc_2 
{ 
	 left: 857px; 
	 top: 567px; 
	 position: absolute; 
	 width: 131px;
	 height: 11px;
	 z-index:35;
} 

 #RoundedRectangle2cop_7 
{ 
	 left: 842px; 
	 top: 388px; 
	 position: absolute; 
	 width: 157px;
	 height: 163px;
	 z-index:36;
} 

 #VectorSmartObject_3 
{ 
	 left: 871px; 
	 top: 398px; 
	 position: absolute; 
	 width: 101px;
	 height: 127px;
	 z-index:37;
} 

 #RoundedRectangle2cop_8 
{ 
	 left: 844px; 
	 top: 524px; 
	 position: absolute; 
	 width: 154px;
	 height: 26px;
	 z-index:38;
} 

 #SanniSaarinen 
{ 
	 left: 629px; 
	 top: 531px; 
	 position: absolute; 
	 width: 103px;
	 height: 10px;
	 z-index:39;
} 

 #VectorSmartObjectcop_3 
{ 
	 left: 694px; 
	 top: 594px; 
	 position: absolute; 
	 width: 17px;
	 height: 32px;
	 z-index:40;
} 

 #VectorSmartObjectcop_4 
{ 
	 left: 646px; 
	 top: 600px; 
	 position: absolute; 
	 width: 26px;
	 height: 20px;
	 z-index:41;
} 

 #VectorSmartObjectcop_5 
{ 
	 left: 936px; 
	 top: 594px; 
	 position: absolute; 
	 width: 17px;
	 height: 32px;
	 z-index:42;
} 

 #VectorSmartObjectcop_6 
{ 
	 left: 888px; 
	 top: 600px; 
	 position: absolute; 
	 width: 26px;
	 height: 20px;
	 z-index:43;
} 

 #VectorSmartObjectcop_7 
{ 
	 left: 1175px; 
	 top: 594px; 
	 position: absolute; 
	 width: 17px;
	 height: 32px;
	 z-index:44;
} 

 #VectorSmartObjectcop_8 
{ 
	 left: 1127px; 
	 top: 600px; 
	 position: absolute; 
	 width: 26px;
	 height: 20px;
	 z-index:45;
} 

 #VectorSmartObject_4 
{ 
	 left: 629px; 
	 top: 406px; 
	 position: absolute; 
	 width: 106px;
	 height: 108px;
	 z-index:46;
} 

 #RoundedRectangle1cop_4 
{ 
	 left: 1079px; 
	 top: 559px; 
	 position: absolute;
	 border-radius: 10px;
	 background-color: #FFFFFF; 
	 width: 157px;
	 height: 26px;
	 z-index:47;
	 text-align: center;
} 

#RoundedRectangle1cop_4:hover {
	background-color: #ECE819;
}

 #Viewprojectsgalleryc_3 
{ 
	 left: 1094px; 
	 top: 567px; 
	 position: absolute; 
	 width: 131px;
	 height: 11px;
	 z-index:48;
} 

 #RoundedRectangle2cop_9 
{ 
	 left: 1079px; 
	 top: 388px; 
	 position: absolute; 
	 width: 157px;
	 height: 163px;
	 z-index:49;
} 

 #VectorSmartObject_5 
{ 
	 left: 1116px; 
	 top: 406px; 
	 position: absolute; 
	 width: 93px;
	 height: 108px;
	 z-index:50;
} 

 #RoundedRectangle2cop_10 
{ 
	 left: 1081px; 
	 top: 524px; 
	 position: absolute; 
	 width: 154px;
	 height: 26px;
	 z-index:51;
} 

 #KaisaNissil 
{ 
	 left: 1115px; 
	 top: 531px; 
	 position: absolute; 
	 width: 87px;
	 height: 10px;
	 z-index:52;
} 

 #RoundedRectangle1cop_5 
{ 
	 left: 603px; 
	 top: 821px; 
	 position: absolute; 
	 width: 158px;
	 height: 26px;
	 z-index:53;
} 

 #Viewprojectsgalleryc_4 
{ 
	 left: 618px; 
	 top: 829px; 
	 position: absolute; 
	 width: 131px;
	 height: 11px;
	 z-index:54;
} 

 #RoundedRectangle2cop_11 
{ 
	 left: 603px; 
	 top: 650px; 
	 position: absolute; 
	 width: 157px;
	 height: 163px;
	 z-index:55;
} 

 #RoundedRectangle2cop_12 
{ 
	 left: 605px; 
	 top: 786px; 
	 position: absolute; 
	 width: 154px;
	 height: 26px;
	 z-index:56;
} 

 #VilleLahtinen 
{ 
	 left: 633px; 
	 top: 793px; 
	 position: absolute; 
	 width: 98px;
	 height: 10px;
	 z-index:57;
} 

 #RoundedRectangle1cop_6 
{ 
	 left: 842px; 
	 top: 821px; 
	 position: absolute; 
	 width: 158px;
	 height: 26px;
	 z-index:58;
} 

 #Viewprojectsgalleryc_5 
{ 
	 left: 857px; 
	 top: 829px; 
	 position: absolute; 
	 width: 131px;
	 height: 11px;
	 z-index:59;
} 

 #RoundedRectangle2cop_13 
{ 
	 left: 842px; 
	 top: 650px; 
	 position: absolute; 
	 width: 157px;
	 height: 163px;
	 z-index:60;
} 

 #VectorSmartObject_6 
{ 
	 left: 875px; 
	 top: 663px; 
	 position: absolute; 
	 width: 96px;
	 height: 112px;
	 z-index:61;
} 

 #VectorSmartObject_7 
{ 
	 left: 630px; 
	 top: 662px; 
	 position: absolute; 
	 width: 102px;
	 height: 112px;
	 z-index:62;
} 

 #RoundedRectangle2cop_14 
{ 
	 left: 844px; 
	 top: 786px; 
	 position: absolute; 
	 width: 154px;
	 height: 26px;
	 z-index:63;
} 

 #LeenaNikkinen 
{ 
	 left: 870px; 
	 top: 793px; 
	 position: absolute; 
	 width: 107px;
	 height: 10px;
	 z-index:64;
} 

 #JoonasParvinen 
{ 
	 left: 866px; 
	 top: 531px; 
	 position: absolute; 
	 width: 116px;
	 height: 10px;
	 z-index:65;
} 

 #VectorSmartObjectcop_9 
{ 
	 left: 694px; 
	 top: 856px; 
	 position: absolute; 
	 width: 17px;
	 height: 32px;
	 z-index:66;
} 

 #VectorSmartObjectcop_10 
{ 
	 left: 646px; 
	 top: 862px; 
	 position: absolute; 
	 width: 26px;
	 height: 20px;
	 z-index:67;
} 

 #VectorSmartObjectcop_11 
{ 
	 left: 936px; 
	 top: 856px; 
	 position: absolute; 
	 width: 17px;
	 height: 32px;
	 z-index:68;
} 

 #VectorSmartObjectcop_12 
{ 
	 left: 888px; 
	 top: 862px; 
	 position: absolute; 
	 width: 26px;
	 height: 20px;
	 z-index:69;
} 

 #VectorSmartObjectcop_13 
{ 
	 left: 1175px; 
	 top: 856px; 
	 position: absolute; 
	 width: 17px;
	 height: 32px;
	 z-index:70;
} 

 #VectorSmartObjectcop_14 
{ 
	 left: 1127px; 
	 top: 862px; 
	 position: absolute; 
	 width: 26px;
	 height: 20px;
	 z-index:71;
} 

 #RoundedRectangle1cop_7 
{ 
	 left: 1079px; 
	 top: 821px; 
	 position: absolute; 
	 width: 157px;
	 height: 26px;
	 z-index:72;
} 

 #Viewprojectsgalleryc_6 
{ 
	 left: 1094px; 
	 top: 829px; 
	 position: absolute; 
	 width: 131px;
	 height: 11px;
	 z-index:73;
} 

 #RoundedRectangle2cop_15 
{ 
	 left: 1079px; 
	 top: 650px; 
	 position: absolute; 
	 width: 157px;
	 height: 163px;
	 z-index:74;
} 

 #RoundedRectangle2cop_16 
{ 
	 left: 1081px; 
	 top: 786px; 
	 position: absolute; 
	 width: 154px;
	 height: 26px;
	 z-index:75;
} 

 #AleksiMurtojrvi 
{ 
	 left: 1097px; 
	 top: 793px; 
	 position: absolute; 
	 width: 122px;
	 height: 13px;
	 z-index:76;
} 

 #VectorSmartObject_8 
{ 
	 left: 1109px; 
	 top: 141px; 
	 position: absolute; 
	 width: 96px;
	 height: 110px;
	 z-index:77;
} 

 #VectorSmartObject_9 
{ 
	 left: 1111px; 
	 top: 663px; 
	 position: absolute; 
	 width: 98px;
	 height: 110px;
	 z-index:78;
} 

 #RoundedRectangle4cop_0 
{ 
	 left: -19px; 
	 top: 331px; 
	 position: absolute; 
	 width: 562px;
	 height: 9px;
	 z-index:79;
} 

 #RoundedRectangle1cop_8 
{ 
	 left: 371px; 
	 top: 435px; 
	 position: absolute; 
	 background-color: #000000;
	 border-radius: 10px;
	 text-align: center;
	 width: 140px;
	 height: 26px;
	 z-index:80;
	 color: #FFFFFF;
} 

 #Changeinfo 
{ 
	 left: 404px; 
	 top: 442px; 
	 position: absolute; 
	 width: 80px;
	 height: 13px;
	 z-index:81;
} 

 #RoundedRectangle1cop_9 
{ 
	 left: 371px; 
	 top: 467px; 
	 position: absolute; 
	 background-color: #000000;
	 border-radius: 10px;
	 color: #FFFFFF;
	 text-align: center;
	 width: 140px;
	 height: 26px;
	 z-index:82;
} 

 #MyGallery 
{ 
	 left: 408px; 
	 top: 474px; 
	 position: absolute; 
	 width: 73px;
	 height: 13px;
	 z-index:83;
} 

 #MikkoTottijrvi 
{ 
<<<<<<< HEAD
<<<<<<< HEAD
	 left: 26%; 
=======
	 left: 352px; 
>>>>>>> 5a9db78c7a529498dc109cc7fec369180c99e9f0
=======
	 left: 26%; 
>>>>>>> febf234b4fca6f663c90607ae986476b53f10a25
	 top: 302px; 
	 position: absolute; 
	 width: 187px;
	 height: 23px;
	 z-index:84;
	 font-size: 150%;
} 

 #Score2300 
{ 
<<<<<<< HEAD
<<<<<<< HEAD
	 left: 27%; 
=======
	 left: 373px; 
>>>>>>> 5a9db78c7a529498dc109cc7fec369180c99e9f0
=======
	 left: 27%; 
>>>>>>> febf234b4fca6f663c90607ae986476b53f10a25
	 top: 358px; 
	 position: absolute; 
	 width: 143px;
	 height: 17px;
	 z-index:85;
	 text-align: center;
	 font-size: 130%;
} 

 #Orivedenkatu8 
{ 
<<<<<<< HEAD
<<<<<<< HEAD
	 left: 28.5%; 
=======
	 left: 390px; 
>>>>>>> 5a9db78c7a529498dc109cc7fec369180c99e9f0
=======
	 left: 28.5%; 
>>>>>>> febf234b4fca6f663c90607ae986476b53f10a25
	 top: 396px; 
	 position: absolute; 
	 width: 108px;
	 height: 10px;
	 z-index:86;
	 font-size: 90%;
	 text-align: center;
} 

 #VectorSmartObject_10 
{ 
<<<<<<< HEAD
<<<<<<< HEAD
	 left: 27%; 
=======
	 left: 372px; 
>>>>>>> 5a9db78c7a529498dc109cc7fec369180c99e9f0
=======
	 left: 27%; 
>>>>>>> febf234b4fca6f663c90607ae986476b53f10a25
	 top: 112px; 
	 position: absolute; 
	 width: 143px;
	 height: 160px;
	 z-index:87;
} 
